<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
<div th:each="user : ${users}">
    <tr>
        <td th:text="${user.getId()}">
        <td th:text="${user.getFirstName()}">
        <td th:text="${user.getLastName()}">
        <td th:text="${user.getAge()}">
        <td th:text="${user.getEmail()}">
        <td th:text="${user.getRoles()}">
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}"> Edit </a></td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/> </form> </td>
    </tr>
</div>
    </tbody>

</table>
<br/>
<hr/>

<form action="/admin/new">
    <button>Create new user</button>
</form>
<br/>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-primary btn-block" type="submit">Log out</button>
    </form>
</div>

</body>
</html>