<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${user.getId()}">
            <td th:text="${user.getFirstName()}">
            <td th:text="${user.getLastName()}">
            <td th:text="${user.getAge()}">
            <td th:text="${user.getEmail()}">
        </tr>
    </tbody>
</table>


<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log out</button>
    </form>
</div>

</body>
</html>